/* helper classes CSS */
/* Version: 1.5 */
/* created by Valerii Pushkar */
/* http://pushkar.in.ua */
/* css with classes for created margin and padding of elements, font size, width and height.  */

/* Font formats */
/* Font-sizes */
.fontSize64{font-size: 64px;}
.fontSize50{font-size: 50px;}
.fontSize36{font-size: 36px;}
.fontSize35{font-size: 35px;}
.fontSize28{font-size: 28px;}
.fontSize26{font-size: 26px;}
.fontSize24{font-size: 24px;}
.fontSize22{font-size: 22px;}
.fontSize20{font-size: 20px;}
.fontSize18{font-size: 18px;}
.fontSize16{font-size: 16px;}
.fontSize14{font-size: 14px;}
.fontSize12{font-size: 12px;}

.font-weight-700{font-weight: 700;}
.font-weight-600{font-weight: 600;}
.font-weight-500{font-weight: 500;}
.font-weight-400{font-weight: 400;}
.font-weight-300{font-weight: 300;}
.font-weight-200{font-weight: 200;}
/* /Font-sizes */
/* /Font-color */
.text-uppercase{text-transform: uppercase}

.color-water-blue{color: #179be5}
.color-white{color: white}
.color-black{color: black}
.color-blue{color: blue}
/* /Font-color */

/*letter-spacings*/
.letterSpacing4-8{letter-spacing: 4.8px;}
.letterSpacing3-2{letter-spacing: 3.2px;}
/* /letter-spacings*/

/*width end height classes*/
/*width*/
.width700{width: 700px;}
.width670{width: 670px;}
.width635{width: 635px;}
.width460{width: 460px;}
.width305{width: 305px;}
.width90{width: 90px;}
.width-150pec{width: 150%;}
.width-140pec{width: 140%;}
.width-100pec{width: 100%;}
.width-80pec{width: 80%;}
.width-75pec{width: 75%;}
.width-70pec{width: 70%;}
.width-50pec{width: 50%;}

/*height*/
.height-100pec {height: 100%}
.height-80pec {height: 80%}
.height-60pec {height: 60%}
.height164{height: 164px !important;}
.min-height-50em {min-height: 50em}
.min-height-45em {min-height: 45em}
.min-height-40em {min-height: 40em}
.min-height-35em {min-height: 35em}
.min-height-30em {min-height: 30em}
.min-height-25em {min-height: 25em}
.min-height-20em {min-height: 20em}
.min-height-15em {min-height: 15em}

/*margin end padding classes*/

.mrg-0 {margin: 0}
.mrg-10 {margin: 10px}
.mrg-15 {margin: 15px}
.mrg-20 {margin: 20px}
.mrg-25 {margin: 25px}
.mrg-30 {margin: 30px}
.mrg-35 {margin: 35px}

.mrg-0-5{margin:0 5px}
.mrg-0-10{margin:0 10px}
.mrg-0-13{margin:0 13px}
.mrg-0-15{margin:0 15px}
.mrg-0-20{margin:0 20px}
.mrg-0-25{margin:0 25px}
/*margin top */
.mrg-top-0 {margin-top:0px;}
.mrg-top-5 {margin-top:5px;}
.mrg-top-10{margin-top:10px;}
.mrg-top-15{margin-top:15px;}
.mrg-top-20{margin-top:20px;}
.mrg-top-25{margin-top:25px;}
.mrg-top-30{margin-top:30px;}
.mrg-top-35{margin-top:35px;}
.mrg-top-40{margin-top:40px;}
.mrg-top-45{margin-top:45px;}
.mrg-top-50{margin-top:50px;}
.mrg-top-55{margin-top:55px;}
.mrg-top-60{margin-top:60px;}
.mrg-top-70{margin-top:70px;}
.mrg-top-80{margin-top:80px;}
.mrg-top-90{margin-top:90px;}
.mrg-top-100 {margin-top:100px;}
.mrg-top-120 {margin-top:120px;}
.mrg-top-150 {margin-top:150px;}
.mrg-top-200 {margin-top:200px;}

.mrg-top-5pec {margin-top:5%;}
.mrg-top-6pec {margin-top:6%;}
.mrg-top-10pec {margin-top:10%;}
.mrg-top-15pec {margin-top:15%;}
.mrg-top-20pec {margin-top:20%;}
.mrg-top-30pec {margin-top:30%;}
.mrg-top-40pec {margin-top:40%;}
.mrg-top-50pec {margin-top:50%;}

/*em*/
.mrg-top-05em{margin-top:0.5em;}
.mrg-top-1em{margin-top:1em;}
.mrg-top-1_5em{margin-top:1.5em;}
.mrg-top-2em{margin-top:2em;}
.mrg-top-2_5em{margin-top:2.5em;}
.mrg-top-3em{margin-top:3em;}
.mrg-top-3_5em{margin-top:3.5em;}
.mrg-top-4em{margin-top:4em;}
.mrg-top-4_5em{margin-top:4.5em;}
.mrg-top-5em{margin-top:5em;}
.mrg-top-5_5em{margin-top:5.5em;}
.mrg-top-6em{margin-top:6em;}
.mrg-top-6_5em{margin-top:6.5em;}
.mrg-top-7em{margin-top:7em;}
.mrg-top-8em{margin-top:8em;}
.mrg-top-9em{margin-top:9em;}
.mrg-top-10em{margin-top:10em;}


/*em*/

/*margin left */
.mrg-left-5 {margin-left:5px;}
.mrg-left-10{margin-left:10px;}
.mrg-left-15{margin-left:15px;}
.mrg-left-20{margin-left:20px;}
.mrg-left-25{margin-left:25px;}
.mrg-left-30{margin-left:30px;}
.mrg-left-35{margin-left:35px;}
.mrg-left-40{margin-left:40px;}
.mrg-left-45{margin-left:45px;}
.mrg-left-50{margin-left:50px;}
.mrg-left-55{margin-left:55px;}
.mrg-left-60{margin-left:60px;}
.mrg-left-70{margin-left:70px;}
.mrg-left-80{margin-left:80px;}
.mrg-left-90{margin-left:90px;}
.mrg-left-100 {margin-left:100px;}
.mrg-left-120 {margin-left:120px;}
.mrg-left-150 {margin-left:150px;}

.mrg-left-05em{margin-left:0.5em;}
.mrg-left-1em{margin-left:1em;}
.mrg-left-1_5em{margin-left:1.5em;}
.mrg-left-2em{margin-left:2em;}
.mrg-left-2_5em{margin-left:2.5em;}
.mrg-left-3em{margin-left:3em;}
.mrg-left-3_5em{margin-left:3.5em;}
.mrg-left-4em{margin-left:4em;}
.mrg-left-4_5em{margin-left:4.5em;}
.mrg-left-5em{margin-left:5em;}
.mrg-left-5_5em{margin-left:5.5em;}
.mrg-left-6em{margin-left:6em;}
.mrg-left-6_5em{margin-left:6.5em;}
.mrg-left-7em{margin-left:7em;}
.mrg-left-8em{margin-left:8em;}
.mrg-left-9em{margin-left:9em;}
.mrg-left-10em{margin-left:10em;}
/*margin right */
.mrg-right-5 {margin-right:5px;}
.mrg-right-10{margin-right:10px;}
.mrg-right-15{margin-right:15px;}
.mrg-right-20{margin-right:20px;}
.mrg-right-25{margin-right:25px;}
.mrg-right-30{margin-right:30px;}
.mrg-right-35{margin-right:35px;}
.mrg-right-40{margin-right:40px;}
.mrg-right-45{margin-right:45px;}
.mrg-right-50{margin-right:50px;}
.mrg-right-55{margin-right:55px;}
.mrg-right-60{margin-right:60px;}
.mrg-right-70{margin-right:70px;}
.mrg-right-80{margin-right:80px;}
.mrg-right-90{margin-right:90px;}
.mrg-right-100 {margin-right:100px;}
.mrg-right-120 {margin-right:120px;}
.mrg-right-150 {margin-right:150px;}


.mrg-right-05em{margin-right:0.5em;}
.mrg-right-1em{margin-right:1em;}
.mrg-right-1_5em{margin-right:1.5em;}
.mrg-right-2em{margin-right:2em;}
.mrg-right-2_5em{margin-right:2.5em;}
.mrg-right-3em{margin-right:3em;}
.mrg-right-3_5em{margin-right:3.5em;}
.mrg-right-4em{margin-right:4em;}
.mrg-right-4_5em{margin-right:4.5em;}
.mrg-right-5em{margin-right:5em;}
.mrg-right-5_5em{margin-right:5.5em;}
.mrg-right-6em{margin-right:6em;}
.mrg-right-6_5em{margin-right:6.5em;}
.mrg-right-7em{margin-right:7em;}
.mrg-right-8em{margin-right:8em;}
.mrg-right-9em{margin-right:9em;}
.mrg-right-10em{margin-right:10em;}
/*margin bottom */
.mrg-bottom-5 {margin-bottom:5px;}
.mrg-bottom-10{margin-bottom:10px;}
.mrg-bottom-15{margin-bottom:15px;}
.mrg-bottom-20{margin-bottom:20px;}
.mrg-bottom-25{margin-bottom:25px;}
.mrg-bottom-30{margin-bottom:30px;}
.mrg-bottom-35{margin-bottom:35px;}
.mrg-bottom-40{margin-bottom:40px;}
.mrg-bottom-45{margin-bottom:45px;}
.mrg-bottom-50{margin-bottom:50px;}
.mrg-bottom-55{margin-bottom:55px;}
.mrg-bottom-60{margin-bottom:60px;}
.mrg-bottom-70{margin-bottom:70px;}
.mrg-bottom-80{margin-bottom:80px;}
.mrg-bottom-90{margin-bottom:90px;}
.mrg-bottom-100 {margin-bottom:100px;}
.mrg-bottom-120 {margin-bottom:120px;}
.mrg-bottom-150 {margin-bottom:150px;}

.mrg-bottom-05em{margin-bottom:0.5em;}
.mrg-bottom-1em{margin-bottom:1em;}
.mrg-bottom-1_5em{margin-bottom:1.5em;}
.mrg-bottom-2em{margin-bottom:2em;}
.mrg-bottom-2_5em{margin-bottom:2.5em;}
.mrg-bottom-3em{margin-bottom:3em;}
.mrg-bottom-3_5em{margin-bottom:3.5em;}
.mrg-bottom-4em{margin-bottom:4em;}
.mrg-bottom-4_5em{margin-bottom:4.5em;}
.mrg-bottom-5em{margin-bottom:5em;}
.mrg-bottom-5_5em{margin-bottom:5.5em;}
.mrg-bottom-6em{margin-bottom:6em;}
.mrg-bottom-6_5em{margin-bottom:6.5em;}
.mrg-bottom-7em{margin-bottom:7em;}
.mrg-bottom-8em{margin-bottom:8em;}
.mrg-bottom-9em{margin-bottom:9em;}
.mrg-bottom-10em{margin-bottom:10em;}

/*padding oll*/
.pdg-3 {padding:3px;}
.pdg-5 {padding:5px;}
.pdg-10 {padding:10px;}
.pdg-15 {padding:15px;}
.pdg-20 {padding:20px;}
.pdg-25 {padding:25px;}
.pdg-30 {padding:30px;}
/*padding left-right */
.pdg-0-3 {padding:0 3px;}
.pdg-0-5 {padding:0 5px;}
.pdg-0-10 {padding:0 10px;}
.pdg-0-15 {padding:0 15px;}
.pdg-0-20 {padding:0 20px;}
.pdg-0-25 {padding:0 25px;}
.pdg-0-30 {padding:0 30px;}

/*padding top */
.pdg-top-5 {padding-top:5px;}
.pdg-top-10{padding-top:10px;}
.pdg-top-15{padding-top:15px;}
.pdg-top-20{padding-top:20px;}
.pdg-top-25{padding-top:25px;}
.pdg-top-30{padding-top:30px;}
.pdg-top-35{padding-top:35px;}
.pdg-top-40{padding-top:40px;}
.pdg-top-45{padding-top:45px;}
.pdg-top-50{padding-top:50px;}
.pdg-top-55{padding-top:55px;}
.pdg-top-60{padding-top:60px;}
.pdg-top-70{padding-top:70px;}
.pdg-top-80{padding-top:80px;}
.pdg-top-90{padding-top:90px;}
.pdg-top-100 {padding-top:100px;}
.pdg-top-120 {padding-top:120px;}
.pdg-top-150 {padding-top:150px;}

.pdg-top-05em{padding-top:0.5em;}
.pdg-top-1em{padding-top:1em;}
.pdg-top-1_5em{padding-top:1.5em;}
.pdg-top-2em{padding-top:2em;}
.pdg-top-2_5em{padding-top:2.5em;}
.pdg-top-3em{padding-top:3em;}
.pdg-top-3_5em{padding-top:3.5em;}
.pdg-top-4em{padding-top:4em;}
.pdg-top-4_5em{padding-top:4.5em;}
.pdg-top-5em{padding-top:5em;}
.pdg-top-5_5em{padding-top:5.5em;}
.pdg-top-6em{padding-top:6em;}
.pdg-top-6_5em{padding-top:6.5em;}
.pdg-top-7em{padding-top:7em;}
.pdg-top-8em{padding-top:8em;}
.pdg-top-9em{padding-top:9em;}
.pdg-top-10em{padding-top:10em;}
/*padding left */
.pdg-left-5 {padding-left:5px;}
.pdg-left-10{padding-left:10px;}
.pdg-left-15{padding-left:15px;}
.pdg-left-20{padding-left:20px;}
.pdg-left-25{padding-left:25px;}
.pdg-left-30{padding-left:30px;}
.pdg-left-35{padding-left:35px;}
.pdg-left-40{padding-left:40px;}
.pdg-left-45{padding-left:45px;}
.pdg-left-50{padding-left:50px;}
.pdg-left-55{padding-left:55px;}
.pdg-left-60{padding-left:60px;}
.pdg-left-70{padding-left:70px;}
.pdg-left-80{padding-left:80px;}
.pdg-left-90{padding-left:90px;}
.pdg-left-100 {padding-left:100px;}
.pdg-left-120 {padding-left:120px;}
.pdg-left-150 {padding-left:150px;}

.pdg-left-05em{padding-left:0.5em;}
.pdg-left-1em{padding-left:1em;}
.pdg-left-1_5em{padding-left:1.5em;}
.pdg-left-2em{padding-left:2em;}
.pdg-left-2_5em{padding-left:2.5em;}
.pdg-left-3em{padding-left:3em;}
.pdg-left-3_5em{padding-left:3.5em;}
.pdg-left-4em{padding-left:4em;}
.pdg-left-4_5em{padding-left:4.5em;}
.pdg-left-5em{padding-left:5em;}
.pdg-left-5_5em{padding-left:5.5em;}
.pdg-left-6em{padding-left:6em;}
.pdg-left-6_5em{padding-left:6.5em;}
.pdg-left-7em{padding-left:7em;}
.pdg-left-8em{padding-left:8em;}
.pdg-left-9em{padding-left:9em;}
.pdg-left-10em{padding-left:10em;}
/*padding right */
.pdg-right-5 {padding-right:5px;}
.pdg-right-10{padding-right:10px;}
.pdg-right-15{padding-right:15px;}
.pdg-right-20{padding-right:20px;}
.pdg-right-25{padding-right:25px;}
.pdg-right-30{padding-right:30px;}
.pdg-right-35{padding-right:35px;}
.pdg-right-40{padding-right:40px;}
.pdg-right-45{padding-right:45px;}
.pdg-right-50{padding-right:50px;}
.pdg-right-55{padding-right:55px;}
.pdg-right-60{padding-right:60px;}
.pdg-right-70{padding-right:70px;}
.pdg-right-80{padding-right:80px;}
.pdg-right-90{padding-right:90px;}
.pdg-right-100 {padding-right:100px;}
.pdg-right-120 {padding-right:120px;}
.pdg-right-150 {padding-right:150px;}

.pdg-right-05em{padding-right:0.5em;}
.pdg-right-1em{padding-right:1em;}
.pdg-right-105em{padding-right:1.5em;}
.pdg-right-2em{padding-right:2em;}
.pdg-right-205em{padding-right:2.5em;}
.pdg-right-3em{padding-right:3em;}
.pdg-right-305em{padding-right:3.5em;}
.pdg-right-4em{padding-right:4em;}
.pdg-right-405em{padding-right:4.5em;}
.pdg-right-5em{padding-right:5em;}
.pdg-right-505em{padding-right:5.5em;}
.pdg-right-6em{padding-right:6em;}
.pdg-right-605em{padding-right:6.5em;}
.pdg-right-7em{padding-right:7em;}
.pdg-right-8em{padding-right:8em;}
.pdg-right-9em{padding-right:9em;}
.pdg-right-10em{padding-right:10em;}
/*padding bottom */
.pdg-bottom-5 {padding-bottom:5px;}
.pdg-bottom-10{padding-bottom:10px;}
.pdg-bottom-15{padding-bottom:15px;}
.pdg-bottom-20{padding-bottom:20px;}
.pdg-bottom-25{padding-bottom:25px;}
.pdg-bottom-30{padding-bottom:30px;}
.pdg-bottom-35{padding-bottom:35px;}
.pdg-bottom-40{padding-bottom:40px;}
.pdg-bottom-45{padding-bottom:45px;}
.pdg-bottom-50{padding-bottom:50px;}
.pdg-bottom-55{padding-bottom:55px;}
.pdg-bottom-60{padding-bottom:60px;}
.pdg-bottom-70{padding-bottom:70px;}
.pdg-bottom-80{padding-bottom:80px;}
.pdg-bottom-90{padding-bottom:90px;}
.pdg-bottom-100 {padding-bottom:100px;}
.pdg-bottom-120 {padding-bottom:120px;}
.pdg-bottom-150 {padding-bottom:150px;}

.pdg-bottom-05em{padding-bottom:0.5em;}
.pdg-bottom-1em{padding-bottom:1em;}
.pdg-bottom-1_5em{padding-bottom:1.5em;}
.pdg-bottom-2em{padding-bottom:2em;}
.pdg-bottom-2_5em{padding-bottom:2.5em;}
.pdg-bottom-3em{padding-bottom:3em;}
.pdg-bottom-3_5em{padding-bottom:3.5em;}
.pdg-bottom-4em{padding-bottom:4em;}
.pdg-bottom-4_5em{padding-bottom:4.5em;}
.pdg-bottom-5em{padding-bottom:5em;}
.pdg-bottom-5_5em{padding-bottom:5.5em;}
.pdg-bottom-6em{padding-bottom:6em;}
.pdg-bottom-6_5em{padding-bottom:6.5em;}
.pdg-bottom-7em{padding-bottom:7em;}
.pdg-bottom-8em{padding-bottom:8em;}
.pdg-bottom-9em{padding-bottom:9em;}
.pdg-bottom-10em{padding-bottom:10em;}

/*--------------*/

.float-left {float: left}
.float-right {float: right}
.overflow-hidden{overflow: hidden}
.unlist {list-style: none;}
.text-inline {display: inline;}
.display-table{display: table}
.vertical-top {display: table-cell;
    vertical-align: top}
.vertical-bottom {display: table-cell;
    vertical-align: bottom}
.vertical-middle {display: table-cell;
    vertical-align: middle;}

.inline {display: inline}

.line-height-1 {line-height: 1}
.line-height-2 {line-height: 2}
.line-height-3 {line-height: 3}
.line-height-4 {line-height: 4}
.line-height-5 {line-height: 5}
.text-center {text-align: center}
.text-justify{text-align: justify}
.text-left{text-align: left}
.text-right{text-align: right}
.center-position {margin: auto}
